<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Newsletter Template for Cloud Services</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="newsletter.css" rel="stylesheet">

  </head>

  <body>

    <div class="newsletter-masthead">
      <div class="container">
        <nav class="newsletter-nav">
          <a class="newsletter-nav-item active" href="http://yo/cs/newsletter">Current Edition</a>
          <a class="newsletter-nav-item" href="http://yo/cs">CS Jive Site</a>
          <a class="newsletter-nav-item" href="http://yo/cs/newsletter-archive">Archive</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="newsletter-header">
        <h1 class="newsletter-title">The Cloud Services newsletter</h1>
        <p class="lead newsletter-description">What we do--  We enable Yahoos to commit to production in less than 5 minutes. </p>
      </div>

      <div class="row">

        <div class="col-sm-7 newsletter-main">

        <div class="newsletter-post">
            <h2 class="newsletter-post-title">Welcome</h2>
            <p class="newsletter-post-meta">Features from this quarter's issue of the Cloud Services newsletter</p>

            <p>Story #1</p>
            <hr>
            <p>Story #2</p>
            <hr>
            <p>Story #2</p>
            <h4>More about <a href="#">Screwdriver news</a></h4>
            
          </div><!-- /.newsletter-post -->

          <div class="newsletter-post">
            <h2 class="newsletter-post-title">Screwdriver (Hosted CI)</h2>
            <p class="newsletter-post-meta">Screwdriver enables CI/CD as a central hosted solution <a href="#">Jive site</a></p>

            <p>We are analyzing opted-in builds for failure reasons using Cinch and forwarding this data into Splunk for a broader analysis of the health of the company’s builds. This data and analysis are critical to our ability to identify areas to address in order to provide a performant and reliable CD service for Yahoo.</p>
            <hr>
            <p>Screwdriver is Yahoo’s centralized Continuous Delivery service, enabling developers to deliver their software in a fast and automated way.</p>
            <blockquote>
              <p>"We were stuck in no man's land until we offloaded support to the <strong>Screwdriver service</strong>. Thank you DPS team" -- Joe Somebody, Media Dev</p>
            </blockquote>
            <h4>More about <a href="#">Screwdriver news</a></h4>
            
          </div><!-- /.newsletter-post -->

        </div><!-- /.newsletter-main -->

        <div class="col-sm-4 col-sm-offset-1 newsletter-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>The Cloud Services organization provides cutting edge self-serve, dynamic and elastic services enabling Yahoo developers to write, commit, and deploy code <em>quickly and efficiently.</em> </p>
            <p>As part of the Yahoo Platforms & Personalization Products organization, we provide Platform as a Service (PaaS), Infrastructure as a Service (IaaS), Monitoring as a Service (MaaS), and Continuous Delivery (CD) solutions that enable and accelerate Yahoo strategic initiatives.</p>
            <p>More info on <a href="yo/cs">Cloud Services</a></p>
          </div>
          <div class="sidebar-module">
            <h4>Milestones</h4>
            <ol class="list-unstyled">
              <li><a href="http://yo/cs/YAMAS">Monitoring Meetup: January 31</a></li>
              <li><a href="http://yo/cs/vipng">Vip NG Launch: January 15</a></li>
              <li><a href="http://yo/cs/MH2">Manhattan Docker Prod GA: Q1</a></li>
              <li><a href="http://yo/cs/Screwdriver">Screwdriver v3 Pilot: Q2</a></li>
              <li><a href="http://yo/cs/Athens">Athens Data Plane Pilot: Q2</a></li>
            </ol>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>Adoption metrics</h4>
            <ol class="list-unstyled">
              <li>Q4 increase in YAMAS 2 metrics: 156%<a href="#"> (more info)</a></li>
              <li>Vip provisioning time in Q4: 5 secs<a href="#"> (more info)</a></li>
            </ol>
          </div>
        </div><!-- /.newsletter-sidebar -->

      </div><!-- /.row -->

      <div class="row">

      <div class="col-sm-8 newsletter-main">

       <div class="newsletter-post">
            <h2 class="newsletter-post-title">Another newsletter post</h2>
            <p class="newsletter-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.newsletter-post -->
        </div><!-- /.newsletter.main -->

          <div class="col-sm-3 col-sm-offset-1 newsletter-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Adoption metrics</h4>
            <ol class="list-unstyled">
              <li>Q4 increase in YAMAS 2 metrics: 156%<a href="#"> (more info)</a></li>
              <li>Vip provisioning time in Q4: 5 secs<a href="#"> (more info)</a></li>
            </ol>
          </div>
        </div><!-- /.newsletter-sidebar -->

    </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="newsletter-footer">
      <p>The Cloud Services newsletter is published monthly. See archive for older editions of the <a href="http://yo/cs-newsletter-archive">newsletter</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
